%h3 Welcome to the Earliest Delivery Day Shipping Calculator. Let's start by adding a shipping origin.  
= link_to "Add an Origin", new_origin_path
%br
= link_to "Add a Destination", new_destination_path