%h3 Welcome to the Earliest Delivery Day Shipping Calculator.
= link_to "Add an Origin", new_origin_path
%br
= link_to "Add a Destination", new_destination_path
%br
= link_to "View All Origins", origins_path
%br
= link_to "View All Destinations", destinations_path